@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


body{
    background-color:black;
    overflow-x: hidden;
}



#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001F3F;
    width: 100%;
}

#menu li {
    float: left;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
}

li .mi:hover {
    background-color: #111;
}



#Welcome {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#Welcome img{
    width: 75%;
}

table{
    margin: auto;
    position: relative;
    bottom: 100px;
    text-align: center;
    font-family: 'Original Surfer', cursive;
}

table h1{
    font-size: 50px;
}

#hello{
    position: relative;
}
.wel{
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}
.tc{
    width: 150px;
    border: 10px solid blue;
    border-radius: 20px;

}
.tce{
    width: 25px;
}
.tc:hover,
.tc:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.3em rgba(0, 0, 255, 0.5);
}

@keyframes pulse {
    0% {
        box-shadow: 25px 25px;
        text-shadow: 5px 5px aqua
    }
}
a.wel:visited{
    color: blue;
}

a.wel:active{
    color: aqua;
}


.settings_content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    font-weight: bold;

}
.settings_content [type="button"]{
    background: yellow;
    color: blue;
    padding: 10px 20px;
    line-height: 1;
    font-family: monospace;
    margin: 0 auto;
    font-weight: bold;
    font-size:15px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px #999;
}

.settings_content [type="button"]:hover{
    background-color:dodgerblue;
}
.settings_content [type="button"]:active{
    background-color:dodgerblue;
    background-color: orangered;
    box-shadow: 0 3px #666;
    transform: translateY(8px);
}


