@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


body{
    overflow-y: hidden;
}
#Welcome {
    margin: auto;
    width: 50%;
    padding: 10px;
}


#Register{
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    top: 32vh;
    left: 16vw;

}
#Welcome img{
    width: 75%;

}

#Welcome h1{
    font-family: 'Original Surfer', cursive;
    font-size: 50px;
    text-align:center;
    position:relative;
    bottom:150px;
}

nav{
    position: relative;
    bottom: 150px;
    left: 12vw;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

nav ul li{
    display: inline;
    color: blue;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 0.2em solid blue;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family: 'Original Surfer', cursive;
    letter-spacing: 0.1em;
}

.wel{
    text-decoration: none;
}


a.wel:visited{
    color: blue;
}

nav ul li:hover,
nav ul li:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.3em rgba(0,0,255,0.5);
}

@keyframes pulse {
    0% { box-shadow: 5px 5px;
        text-shadow: 2px 2px aqua}
}

input{
    display: block;
}

