@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


body{
    background-color:black;
    overflow-x: hidden;
}



#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

#menu li {
    float: left;
    border-right:1px solid #bbb;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
#Welcome {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#Login{
    margin: 20px 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.25rem;
    width: 50%;
    padding: 10px;
    position: relative;
    top: 25vh;
    left: 32.5vw;
}
#Welcome img{
    width: 75%;

}

#Welcome h1{
    font-family: 'Original Surfer', cursive;
    font-size: 50px;
    text-align:center;
    position:relative;
    bottom:150px;
}

nav{
    position: relative;
    bottom: 150px;
    left: 12vw;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

nav ul li{
    display: inline;
    color: blue;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 0.2em solid blue;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family: 'Original Surfer', cursive;
    letter-spacing: 0.1em;
}

.wel{
    text-decoration: none;
}


a.wel:visited{
    color: blue;
}

nav ul li:hover,
nav ul li:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.3em rgba(0,0,255,0.5);
}

@keyframes pulse {
    0% { box-shadow: 5px 5px;
        text-shadow: 2px 2px aqua}
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


